<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="side">
      <md-toolbar>
        <span routerLink="/">
          Home
        </span>
        <md-toolbar-row routerLink="/team">
          Team
        </md-toolbar-row>  
        <md-toolbar-row routerLink="/playground">
          Playground
        </md-toolbar-row>  
        <md-toolbar-row routerLink="/about">
          About
        </md-toolbar-row>  
      </md-toolbar>
    </md-sidenav>  
    <md-toolbar color="accent">
      <button md-button (click)="sidenav.toggle()">
        <md-icon>
          menu
        </md-icon>
      </button>
      <span>
        RxJS Docs
      </span>
    </md-toolbar>
    <div class="center-align body-margin">
      <router-outlet></router-outlet>
    </div>  
</md-sidenav-container>  
